<div class="outerForm">
  
  <div class="innerForm">
    <form method="POST" action="/drink">
      <label>I have some...</label>
      <input name="ingredient" type="text"/>
      <button type="submit">submit</button>
    </form>
  </div>

</div>