<h2>You could make a {{name}}</h2>
<div>
  <div class="image">
    <img src="{{image}}" alt="picture of a {{name}}" style="width: 300px"/>
  </div>
  <div class="ingredients">
    <ul>
      <h3>Ingredients</h3>
      {{#each ingredients}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>
