
{{>header}}
<div class="pretty">
  <h2 style="text-align: center">You could make a...</h2>
  <h2 id="drrink">{{name}}!</h2>
  <div class="display-result">
    <div class="image">
      <img src="{{image}}" alt="picture of a {{name}}" style="width: 300px"/>
    </div>
    <div class="ingredients">
      <ul>
        <h3>Ingredients</h3>
        {{#each ingredients}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

